@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > a {
    font-size: 3rem;
    font-weight: bold;
    /* 글자와 글자 사이(단어와 단어 사이)의 간격 */
    letter-spacing: 3px;
}
.container {
    display: flex;
    flex-direction: column;
    /* 단락 너비 */
    gap: 3rem;
}
.item1 {
    position: relative;
}
.item1:hover::after {
    width: 100%;
}
.item1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: tomato;
    transition: all 0.5s;
}

.item2 {
    position: relative;
}
.item2:hover::after {
    width: 100%;
}
.item2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background-color: tomato;
    transition: all 0.5s;
}

.item3 {
    position: relative;
}
.item3:hover::after {
    left: 100%;
}
.item3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: tomato;
    transition: all 0.5s;
}

.item4 {
    position: relative;
}
.item4:hover::after {
    width: 100%;
}
.item4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 5px;
    background-color: tomato;
    transform: translateX(-50%);
    transition: all 0.5s;
}

.item5 {
    position: relative;
}
.item5:hover::after {
    width: 0;
}
.item5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 5px;
    background-color: tomato;
    transform: translateX(-50%);
    transition: all 0.5s;
}
